<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="['/']">Administracion de Clientes</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/login" *ngIf="!auth.isAuthenticated()">
      Sign In
    </button>
    <button *ngIf="auth.isAuthenticated()" mat-button [matMenuTriggerFor]="menu">
      Bienvenido
      {{ auth.usuario.username }}
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="signOut()">Sign Out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
