<div class="card my-3 bg-dark text-white">
  <div class="card-header">
    {{ cliente.id ? 'Editar' : 'Crear' }}
  </div>
  <div class="card-body">
    <ul class="alert alert-danger" *ngIf="errors?.length > 0">
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>

    <form #formCliente="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label" class="col-sm-3">
          Nombre
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" />
          <!-- required -->
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label" class="col-sm-3">
          Apellido
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" />
          <!-- required -->
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label" class="col-sm-3">
          Email
        </label>
        <div class="col-sm-6">
          <input type="email" class="form-control" name="email" [(ngModel)]="cliente.email" />
          <!-- required -->
        </div>
      </div>
      <div class="form-group row">
        <label for="nombre" class="col-form-label" class="col-sm-3">
          Fecha
        </label>
        <div class="col-sm-6">
          <input
            [matDatepicker]="myDatepicker"
            class="form-control d-inline"
            name="createAt"
            [(ngModel)]="cliente.createdAt"
            style="width: 80%"
          />
          <mat-datepicker-toggle [for]="myDatepicker" style="color: #fff;"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
          <!-- required -->
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label" class="col-sm-3">
          Region
        </label>
        <div class="col-sm-6">
          <select
            [compareWith]="compareRegiones"
            class="form-control"
            [(ngModel)]="cliente.region"
            name="regiones"
          >
            <option [ngValue]="undefined">-- Seleccione una Region --</option>
            <option *ngFor="let region of regiones" [ngValue]="region">{{ region.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9">
          <button
            class="btn btn-primary"
            *ngIf="!cliente.id; else updateBlock"
            (click)="createCliente()"
            [disabled]="!formCliente.form.valid"
          >
            Crear
          </button>
          <ng-template #updateBlock>
            <button
              class="btn btn-primary"
              (click)="updateCliente()"
              [disabled]="!formCliente.form.valid"
            >
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
