<div *ngIf="modalService.modal" class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle de Cliente</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="cerrarModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <ul class="list-group list-group-flush mb-3" *ngIf="cliente">
                <li class="list-group-item list-group-item-success">
                  <h5>Nombre & Apellido</h5>
                  {{ cliente.nombre }} {{ cliente.apellido }}
                </li>

                <li class="list-group-item list-group-item-danger">
                  <h5>Email</h5>
                  {{ cliente.email }}
                </li>
                <li class="list-group-item list-group-item-info">
                  <h5>Fecha de Creacion</h5>
                  {{ cliente.createdAt }}
                </li>
                <li class="list-group-item list-group-item-warning">
                  <h5>Region</h5>
                  {{ cliente.region.nombre }}
                </li>
              </ul>
            </div>
            <div class="col-sm">
              <img
                class="rounded img-thumbnail w-100"
                *ngIf="cliente?.foto; else imagenDefault"
                src="http://localhost:8080/api/v1/clientes/img/{{ cliente.foto }}"
              />
              <ng-template #imagenDefault>
                <img
                  class="rounded img-thumbnail w-100"
                  src="http://localhost:8080/images/no-usuario.png"
                />
              </ng-template>
            </div>
          </div>
          <div class="row mx-auto my-2">
            <div class="input-group" *ngIf="auth.hasRole('ROLE_ADMIN')">
              <div class="custom-file">
                <input
                  (change)="seleccionarFoto($event)"
                  type="file"
                  class="custom-file-input"
                  id="inputFoto"
                />
                <label class="custom-file-label" for="inputFoto">
                  <span *ngIf="!foto">Seleccionar Imagen</span>
                  <span *ngIf="foto" style="overflow: hidden;">{{ foto.name }}</span>
                </label>
              </div>
              <div class="input-group-append">
                <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button">
                  Subir
                </button>
              </div>
            </div>
            <div class="progress w-100" *ngIf="progreso > 0">
              <div
                class="progress-bar progress-bar-striped bg-danger d-block"
                role="progressbar"
                [ngStyle]="{ width: progreso + '%' }"
                aria-valuenow="progreso"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ progreso }}
              </div>
            </div>
          </div>

          <div class="row my-2">
            <h4 class="text-center col-sm-12">Facturas</h4>
            <table class="table text-center" *ngIf="cliente.facturas.length > 0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Descripcion</th>
                  <th>Fecha</th>
                  <th>Total</th>
                  <th>Detalles</th>
                  <th *ngIf="auth.hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let factura of cliente.facturas">
                  <td>{{ factura.id }}</td>
                  <td>{{ factura.descripcion }}</td>
                  <td>{{ factura.createdAt }}</td>
                  <td>${{ factura.total }}</td>
                  <td>
                    <button
                      class="btn btn-primary btn-block"
                      [routerLink]="['/factura', factura.id]"
                    >
                      Ver
                    </button>
                  </td>
                  <td *ngIf="auth.hasRole('ROLE_ADMIN')">
                    <button class="btn btn-danger btn-block" (click)="delete(factura)">
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="alert alert-info w-100 my-4" *ngIf="cliente.facturas.length == 0">
              El Cliente no tiene facturas.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
