<div class="card my-3">
    <div class="card-header text-center bg-dark text-info">
      <h3>Listado de Clientes</h3>
    </div>
    <div class="card-body table-responsive">
      <div class="mb-2">
        <button class="btn btn-primary" routerLink="/clientes/create">Crear Cliente</button>
      </div>
        <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col-1">#</th>
                <th scope="co-2">Nombre</th>
                <th scope="col-2">Apellido</th>
                <th scope="col-2">Email</th>
                <th scope="col-2">Fecha de Creación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.createAt | date: 'mediumDate'}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>