<div class="card my-3">
    <div class="card-header text-center bg-dark text-info">
      <h3>Listado de Clientes</h3>
    </div>
    <div class="card-body table-responsive">
      <div class="mb-2">
        <button class="btn btn-primary" routerLink="/clientes/create">Crear Cliente</button>
      </div>
      
      <div class="alert alert-info" *ngIf="clientes?.length == 0">
        No hay registros de clientes disponibles.
      </div>    

        <table class="table table-striped" *ngIf="clientes?.length > 0">
            <thead class="thead-light">
              <tr>
                <th scope="col-1">#</th>
                <th scope="co-2">Nombre</th>
                <th scope="col-2">Apellido</th>
                <th scope="col-2">Email</th>
                <th scope="col-2">Fecha de Creación</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.createdAt | date: 'mediumDate'}}</td>
                <td>
                  <button class="btn btn-warning" [routerLink]="['/clientes/edit', cliente.id]">Editar</button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteCliente(cliente)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>